<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <link href="{% static 'Content/Site.css' %}" rel="stylesheet" type="text/css" />
    <script src="{% static 'Scripts/jquery-3.0.0.min.js' %}"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'Content/Site.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">


    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" crossorigin="anonymous"></script>
    <title>@Page.Title</title>
    <!--@RenderSection("head", required: false)-->
</head>
<body>

    {% include "../Shared/_Header2.html"  %}
    <div class="container body-content" >
        <!--Extends there incluse here doesn't Work
        @Render Body(_login)-->

<br />
<br />
        <br />
        <br />

<style>
    #btnRetour {
        margin-top: -20px;
        margin-bottom: 10px;
        float: initial;
        border :1px solid gray;
    }
</style>
<br />
<br />
<!--@Html.ActionLink("Voir les catégories", "afterLogin", "Test", new { @class = "btn bg-light", @id = "btnRetour" })-->

<a href="../../afterLogin" class="btn bg-light" id="btnRetour" >Voir les catégories</a>
<fieldset style="box-shadow: 2px 2px 5px gray ; border :1px solid gray;padding : 40px 50px;">
    <!--@if (Session["nomCat"] != null)
    {-->

        <br /><legend style="font-size:30px;margin-top:-30px; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;"> Catégorie : {{ categorie.name_categorie  }} </legend>

 <!--   }
    else
    {
        <legend style="font-size:30px;margin-top:-30px; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">Tous :</legend>
    } -->

    <nav align="center" class="navbar navbar-light" style="margin-left:-20px; ">
        <div class="container-fluid">
            <form class="d-flex">
                <input class="form-control me-2 " type="search" placeholder="Exemple (Programmation, ... )"
                       aria-label="Search" style="border-color: black;width:250px">
                <button class="btn d-flex justify-content-center" style="background-color:gold ; color:black;border:1px solid black"
                        type="submit">Search</button>
            </form>
        </div>
    </nav><div class="row row-cols-1 row-cols-md-3 g-4 col-md-10 m-auto" style="">
        {% for livre in categorie.livre_set.all %}
            <div class="col" style="">

                <div class="card" style="box-shadow:2px 2px 6px gray">
                    <h5 align="center" class="card-title" style="font-weight:600; margin:10px 20px">{{livre.Titre}}</h5>
                    <img src="/{{media_url}}{{livre.image.url}}" class="card-img-top" width="500"height="200">
                    <h6 align="center" class="card-title" style="font-weight:600; margin:10px 20px">{{livre.Auteur}}</h6>
                    <div class="card-body">
                        <a href="{% url 'ebook:pageLecture' pk=livre.pk  %}" class="btn btn-secondary">Voir les détails</a>
                        <!--@Html.ActionLink("Voir les détails", "pageLecture", new { id = u.ID_Livre }, new { @class = "btn btn-secondary" })-->
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</fieldset>


<br />



<br />



        <!--end render body-->
    </div>
    <br /><br />
    {% include "../Shared/_Footer.html"  %}

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Third party plugin JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js"></script>
    <!-- Contact form JS-->
    <script src="{% static 'assets/mail/jqBootstrapValidation.js' %}"></script>
    <script src="{% static 'assets/mail/contact_me.js' %}"></script>
    <!-- Core theme JS-->
    <script src="{% static 'js/scripts.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js" integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG" crossorigin="anonymous"></script>
    <script>
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl)
        })
    </script>
</body>

</html>
